.container {
    background-color: white;
    border-radius: 20rpx;
    padding-top: 40rpx;
    padding-bottom: 40rpx;
    padding-left: 10rpx;
    
}
.button-list {
    background-color: white;
    margin-top: 60rpx;
    border-radius: 20rpx;
}
.right-message {
    margin-left: 20rpx;
}
.description {
    color: #a9a8a8;
    font-size: 28rpx;
    margin-top: 20rpx;
}